body{
  min-height: 100vh;
  margin:auto;
}

.errorImg {
    max-height: 301px;
    max-width: 301px;
    min-height: 188px;
    min-width: 188px;
    margin: auto 0;
  }
  
  .errorImg picture img {
    height: auto;
    width: 100%;
  }
  